.git
.gitignore
.env.backup
.env.production
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.idea
.vscode
*.md
Dockerfile
docker-compose*.yml
.dockerignore
